*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /* 10 columns 
	1st - 8rem 
	2nd - minimum of 6rem maximum of 1fractional unit
	3rd - repeat 8 minimum of minimum-content('size of content') maximum of 14rem 
	4th - 1fr Fractional unit
	*/
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.features {
  grid-column: center-start / center-end;
  padding: 20rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  align-items: start; }
  .features .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem; }
    .features .feature__icon {
      height: 4rem;
      width: 4rem;
      grid-row: 1 / span 2;
      fill: #c69963; }
    .features .feature__text {
      color: #333;
      font-size: 1.5rem; }

.footer {
  grid-column: full-start / full-end;
  background-color: #002;
  padding: 5rem; }

.gallery {
  background-color: #4a1;
  grid-column: full-start / full-end;
  padding: 5rem; }

.header {
  background-color: #101d2c;
  grid-column: full-start / col-end 5; }

.homes {
  background-color: #3cc;
  grid-column: full-start / full-end;
  padding: 6rem; }

.realtors {
  padding: 6rem;
  grid-column: col-start 6 / full-end;
  background-color: #a02; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  grid-column: full-start / col-end 5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.story__content {
  grid-column: col-start 6 / full-end;
  background-color: #d41; }

.story__img--1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2/ 6; }

.story__img--2 {
  z-index: 20;
  width: 115%;
  grid-column: 4 / -1;
  grid-row: 4/ 6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
