* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: #ddd;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
	display: grid;
	// 6 rows
	// 1st sidebar - 80vh
	// 2nd header and realtors  - min-content
	// 3rd features - 40vw 
	// 4th story picture and content, Homes, gallery and footer
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

	 
	/* 10 columns 
	1st - 8rem 
	2nd - minimum of 6rem maximum of 1fractional unit
	3rd - repeat 8 minimum of minimum-content('size of content') maximum of 14rem 
	4th - 1fr Fractional unit
	*/
	grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem )) 1fr ;
	// grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax( 6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

// grid-template-columns: repeat(8, 1fr);
// grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax( 6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];


}
