.footer {
<<<<<<< HEAD
	grid-column: full-start / full-end;
	background-color: #002;

	padding: 5rem;
=======
	padding: 4rem;
	background-color: #222;
	grid-column: full-start / full-end;
>>>>>>> 23c04c7df1b66265d78338b6fb44bc7bb74cbf43
}