.header {
	background-color: $color-secondary;
<<<<<<< HEAD
	grid-column: full-start / col-end 5;
=======
	height: 80vh;
	grid-column: full-start / col-end 4;
>>>>>>> 23c04c7df1b66265d78338b6fb44bc7bb74cbf43
}