.homes {
<<<<<<< HEAD
	background-color: #3cc;
	grid-column: full-start / full-end;
	padding: 6rem;
=======
	grid-column: full-start / full-end;
	padding: 5rem;
	background-color: #ff33;
>>>>>>> 23c04c7df1b66265d78338b6fb44bc7bb74cbf43
}