.realtors {
<<<<<<< HEAD
	padding: 6rem;
	grid-column: col-start 6 / full-end;
	background-color: #a02;
=======
	background-color: red;
	grid-column: col-end 4 / full-end;
>>>>>>> 23c04c7df1b66265d78338b6fb44bc7bb74cbf43
}