.sidebar {
	background-color: $color-primary;
<<<<<<< HEAD
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1 ;
=======
	grid-row: 1 / -1;
	grid-column: sidebar-start / sidebar-end;
>>>>>>> 23c04c7df1b66265d78338b6fb44bc7bb74cbf43
}